
header {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	z-index: 500;
	background: #313945;
    div.nav-container {
    	text-align: center;
    	padding: 24px 10px 7px;
    }
    img {
    	display: none;
    	width: 70px;
    	height: 70px;
    	margin-top: -13px;
    	margin-right: 2px;
    }
    nav {	 
    	margin-top: -13px;
		    ul {
		    	list-style: none;
		    		li {
		    			display: block;
		    			margin-bottom: 10px;
		    			a {
		    					font-family: 'Lato', sans-serif;
								font-weight: 400;
								font-size: 15px;
								letter-spacing: 2px;
								color: #BBBBBB;
								text-transform: uppercase;

								-o-transition:.5s;
							  	-ms-transition:.5s;
							  	-moz-transition:.5s;
							  	-webkit-transition:.5s;
							  	transition:.5s;
		    			}
		    			a:hover {
		    				color: #2270b1;
		    			}
		    		}
		    		li:nth-child(3) {display: none;}
		    		li:nth-child(4) {margin-bottom: 5px;}
		    		li:last-child {margin-right: 0;}
		    }
	}
}

section.scroller{
	height: 300px;
	width: 100%;
	margin-top: 90px;
	position: absolute;
	overflow: hidden;
	background: url(../img/bannermobile.jpg);
	background-position: 2250px 0px;
}
