@import "base";

body {
	background: #F0F0F0;
}

a {
	text-decoration: none;
}

.mainbody {
	position: relative;
	margin-top: 40px;
	display: block;
}

.hero {
	padding: 20px 0 20px 0;
	width: 100%;
	background: #e3e1e1;
}

#hero-text {
	display: block;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: 'Raleway' sans-serif;
	font-size: 21px;
	font-weight: 300;
	line-height: 35px;
	color: $textcolor;
}

div.socialise {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

span.socialiseheader {
	font-family: 'Montserrat' sans-serif;
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $darkblue;
	padding-bottom: 15px;
	border-bottom: 2px solid $grey;
	-webkit-font-smoothing:antialiased;
}

div.iconwrapper {
	margin-top: 50px;
	margin-bottom: 100px;
}

div.iconcontainer {
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
}

	#iconY, #iconY:hover, #iconG, #iconG:hover, #iconT, #iconT:hover{
	background: url(../img/sprites.png) no-repeat;
}

#iconY{
	background-position: 0 0;
	-webkit-filter: grayscale(100%);
}

#iconY:hover{
	background-position: 0 -250px ;
}

#iconG{
	background-position: 0 -500px ;
}

#iconG:hover{
	background-position: 0 -750px ;	
}

#iconT{
	background-position: 0 -1000px ;
}

#iconT:hover{
	background-position: 0 -1250px ;
}


