@media screen and (min-width: 480px) {
#hero-text {
	width: 70%;
	font-size: 22px;
}

span.socialiseheader {
	font-size: 60px;
}
}

@media screen and (min-width: 600px) {

	header nav ul {
	padding-top: 26px;
		li {
			display: inline;
			margin-right: 25px;
			a {
				font-size: 17px;
			}
		}
	}
	section.scroller {
		height: 380px;
		background: url(../img/banner.jpg);
		background-position: 850px 0px;
	}

.hero {
	padding: 30px 0 30px 0;
}

#hero-text {
	width: 70%;
	font-size: 23px;
	line-height: 40px;
}

span.socialiseheader {
	font-size: 90px;
	line-height: 80px;
}

}
@media screen and (min-width: 850px) {

header.tiny{
	height: 40px;
}

header.tiny nav ul {
	padding-top: 1px;
}

header.tiny img {
	height: 0px;
	width: 0px;
}

	header img {
		float: right;
		display: inline;
	}

	header nav {
		display: inline;
		float: left;

		ul {
			margin-left: 10px;
		}
	}

	header nav ul li:nth-child(3) {display:inline;}
	header nav ul li:first-child {margin-left: 25px;}
}
@media (min-width: 1200px) {
	section.scroller {
		background-position: 0px 0px;
	}
}