/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "header.scss";
@import "mediaqueries.scss";

body {
	background: #F0F0F0;
}

a {
	text-decoration: none;
}

section.filler {
	height: 2000px;
	background: #F0F0F0;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 600px) {

	header nav  ul {
	padding-top: 30px;
		li {
			display: inline;

			a {
				font-size: 18px;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	section.scroller {
		background-position: 0px 0px;
	}
}