/* line 2, ../sass/header.scss */
header {
  width: 100%;
  height: 106px;
  position: fixed;
  top: 0;
  z-index: 500;
  background: #313945;
}
/* line 9, ../sass/header.scss */
header div.nav-container {
  text-align: center;
  padding: 24px 10px 7px;
}
/* line 13, ../sass/header.scss */
header img {
  display: none;
  width: 80px;
  height: 80px;
  margin-top: -10px;
  margin-right: 3px;
}
/* line 20, ../sass/header.scss */
header nav {
  margin-top: -5px;
}
/* line 22, ../sass/header.scss */
header nav ul {
  list-style: none;
}
/* line 24, ../sass/header.scss */
header nav ul li {
  display: block;
  margin-bottom: 10px;
}
/* line 27, ../sass/header.scss */
header nav ul li a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  color: #BBBBBB;
  text-transform: uppercase;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 41, ../sass/header.scss */
header nav ul li a:hover {
  color: #2270b1;
}
/* line 45, ../sass/header.scss */
header nav ul li:nth-child(3) {
  display: none;
}
/* line 46, ../sass/header.scss */
header nav ul li:nth-child(4) {
  margin-bottom: 5px;
}
/* line 47, ../sass/header.scss */
header nav ul li:last-child {
  margin-right: 0;
}

/* line 52, ../sass/header.scss */
section.scroller {
  height: 300px;
  width: 100%;
  margin-top: 106px;
  position: absolute;
  overflow: hidden;
  background: url(../img/bannermobile.jpg);
  background-position: 2250px 0px;
}
