/* line 3, ../sass/mainbody.scss */
body {
  background: #F0F0F0;
}

/* line 7, ../sass/mainbody.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/mainbody.scss */
.mainbody {
  position: relative;
  margin-top: 40px;
  display: block;
}

/* line 17, ../sass/mainbody.scss */
.hero {
  padding: 20px 0 20px 0;
  width: 100%;
  background: #e3e1e1;
}

/* line 23, ../sass/mainbody.scss */
#hero-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Raleway' sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 35px;
  color: #8e99a1;
}

/* line 36, ../sass/mainbody.scss */
div.socialise {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* line 42, ../sass/mainbody.scss */
span.socialiseheader {
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #313945;
  padding-bottom: 15px;
  border-bottom: 2px solid #e3e1e1;
  -webkit-font-smoothing: antialiased;
}

/* line 54, ../sass/mainbody.scss */
div.iconwrapper {
  margin-top: 50px;
  margin-bottom: 100px;
}

/* line 59, ../sass/mainbody.scss */
div.iconcontainer {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

/* line 69, ../sass/mainbody.scss */
#iconY, #iconY:hover, #iconG, #iconG:hover, #iconT, #iconT:hover {
  background: url(../img/sprites.png) no-repeat;
}

/* line 73, ../sass/mainbody.scss */
#iconY {
  background-position: 0 0;
}

/* line 77, ../sass/mainbody.scss */
#iconY:hover {
  background-position: 0 -250px;
}

/* line 81, ../sass/mainbody.scss */
#iconG {
  background-position: 0 -500px;
}

/* line 85, ../sass/mainbody.scss */
#iconG:hover {
  background-position: 0 -750px;
}

/* line 89, ../sass/mainbody.scss */
#iconT {
  background-position: 0 -1000px;
}

/* line 93, ../sass/mainbody.scss */
#iconT:hover {
  background-position: 0 -1250px;
}
