@media (min-width: 600px) {
  /* line 6, ../sass/mediaqueries.scss */
  header nav ul {
    padding-top: 27px;
  }
  /* line 8, ../sass/mediaqueries.scss */
  header nav ul li {
    display: inline;
    margin-right: 25px;
  }
  /* line 11, ../sass/mediaqueries.scss */
  header nav ul li a {
    font-size: 17px;
  }

  /* line 16, ../sass/mediaqueries.scss */
  section.scroller {
    height: 400px;
    background: url(../img/banner.jpg);
    background-position: 850px 0px;
  }
}
@media (min-width: 850px) {
  /* line 25, ../sass/mediaqueries.scss */
  header img {
    float: right;
    display: inline;
  }

  /* line 30, ../sass/mediaqueries.scss */
  header nav {
    display: inline;
    float: left;
  }
  /* line 34, ../sass/mediaqueries.scss */
  header nav ul {
    margin-left: 10px;
  }

  /* line 39, ../sass/mediaqueries.scss */
  header nav ul li:nth-child(3) {
    display: inline;
  }

  /* line 40, ../sass/mediaqueries.scss */
  header nav ul li:first-child {
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  /* line 43, ../sass/mediaqueries.scss */
  section.scroller {
    background-position: 0px 0px;
  }
}
