/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/header.scss */
header {
  display: block;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 500;
  background: #313945;
  transition: all 0.4s ease-in-out;
}
/* line 11, ../sass/header.scss */
header div.nav-container {
  text-align: center;
  padding: 24px 10px 7px;
}
/* line 15, ../sass/header.scss */
header img {
  display: none;
  width: 70px;
  height: 70px;
  margin-top: -13px;
  margin-right: 2px;
  transition: all 0.4s ease-in-out;
}
/* line 23, ../sass/header.scss */
header nav {
  margin-top: -13px;
}
/* line 25, ../sass/header.scss */
header nav ul {
  list-style: none;
  transition: all 0.4s ease-in-out;
}
/* line 28, ../sass/header.scss */
header nav ul li {
  display: block;
  margin-bottom: 10px;
}
/* line 31, ../sass/header.scss */
header nav ul li a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  color: #BBBBBB;
  text-transform: uppercase;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 45, ../sass/header.scss */
header nav ul li a:hover {
  color: #2270b1;
}
/* line 49, ../sass/header.scss */
header nav ul li:nth-child(3) {
  display: none;
}
/* line 50, ../sass/header.scss */
header nav ul li:nth-child(4) {
  margin-bottom: 5px;
}
/* line 51, ../sass/header.scss */
header nav ul li:last-child {
  margin-right: 0;
}

/* line 56, ../sass/header.scss */
section.scroller {
  display: block;
  height: 300px;
  width: 100%;
  position: relative;
  top: 40px;
  overflow: hidden;
  background: url(../img/bannermobile.jpg);
  background-position: 2250px 0px;
}

/* line 1, ../sass/mainbody.scss */
body {
  background: #F0F0F0;
}

/* line 5, ../sass/mainbody.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/mainbody.scss */
.mainbody {
  position: relative;
  margin-top: 40px;
  display: block;
}

/* line 15, ../sass/mainbody.scss */
.hero {
  padding: 20px 0 20px 0;
  width: 100%;
  background: #e3e1e1;
}

/* line 21, ../sass/mainbody.scss */
#hero-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Raleway' sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 35px;
  color: #8e99a1;
}

/* line 34, ../sass/mainbody.scss */
div.socialise {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* line 40, ../sass/mainbody.scss */
span.socialiseheader {
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #313945;
  padding-bottom: 15px;
  border-bottom: 2px solid #e3e1e1;
  -webkit-font-smoothing: antialiased;
}

/* line 52, ../sass/mainbody.scss */
div.iconwrapper {
  margin-top: 50px;
  margin-bottom: 100px;
}

/* line 57, ../sass/mainbody.scss */
div.iconcontainer {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

/* line 67, ../sass/mainbody.scss */
#iconY, #iconY:hover, #iconG, #iconG:hover, #iconT, #iconT:hover {
  background: url(../img/sprites.png) no-repeat;
}

/* line 71, ../sass/mainbody.scss */
#iconY {
  background-position: 0 0;
  width: 200px;
  height: 200px;
}

/* line 77, ../sass/mainbody.scss */
#iconY:hover {
  background-position: 0 -250px;
  width: 200px;
  height: 200px;
}

/* line 83, ../sass/mainbody.scss */
#iconG {
  background-position: 0 -500px;
  width: 200px;
  height: 200px;
}

/* line 89, ../sass/mainbody.scss */
#iconG:hover {
  background-position: 0 -750px;
  width: 200px;
  height: 200px;
}

/* line 95, ../sass/mainbody.scss */
#iconT {
  background-position: 0 -1000px;
  width: 200px;
  height: 200px;
}

/* line 101, ../sass/mainbody.scss */
#iconT:hover {
  background-position: 0 -1250px;
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 480px) {
  /* line 2, ../sass/mediaqueries.scss */
  #hero-text {
    width: 70%;
    font-size: 22px;
  }

  /* line 7, ../sass/mediaqueries.scss */
  span.socialiseheader {
    font-size: 60px;
  }
}
@media screen and (min-width: 600px) {
  /* line 14, ../sass/mediaqueries.scss */
  header nav ul {
    padding-top: 26px;
  }
  /* line 16, ../sass/mediaqueries.scss */
  header nav ul li {
    display: inline;
    margin-right: 25px;
  }
  /* line 19, ../sass/mediaqueries.scss */
  header nav ul li a {
    font-size: 17px;
  }

  /* line 24, ../sass/mediaqueries.scss */
  section.scroller {
    height: 380px;
    background: url(../img/banner.jpg);
    background-position: 850px 0px;
  }

  /* line 30, ../sass/mediaqueries.scss */
  .hero {
    padding: 30px 0 30px 0;
  }

  /* line 34, ../sass/mediaqueries.scss */
  #hero-text {
    width: 70%;
    font-size: 23px;
    line-height: 40px;
  }

  /* line 40, ../sass/mediaqueries.scss */
  span.socialiseheader {
    font-size: 90px;
    line-height: 80px;
  }
}
@media screen and (min-width: 850px) {
  /* line 48, ../sass/mediaqueries.scss */
  header.tiny {
    height: 40px;
  }

  /* line 52, ../sass/mediaqueries.scss */
  header.tiny nav ul {
    padding-top: 1px;
  }

  /* line 56, ../sass/mediaqueries.scss */
  header.tiny img {
    height: 0px;
    width: 0px;
  }

  /* line 61, ../sass/mediaqueries.scss */
  header img {
    float: right;
    display: inline;
  }

  /* line 66, ../sass/mediaqueries.scss */
  header nav {
    display: inline;
    float: left;
  }
  /* line 70, ../sass/mediaqueries.scss */
  header nav ul {
    margin-left: 10px;
  }

  /* line 75, ../sass/mediaqueries.scss */
  header nav ul li:nth-child(3) {
    display: inline;
  }

  /* line 76, ../sass/mediaqueries.scss */
  header nav ul li:first-child {
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  /* line 79, ../sass/mediaqueries.scss */
  section.scroller {
    background-position: 0px 0px;
  }
}
